---
layout: default
bodyClass: "page-products"
---
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


<div class="container pt-6 pb-6">
  <div class="row">
    <div class="col-12">
      <table class="table" id="productsTable">
        <thead>
          <tr>
            <th>Part Number</th>
            <th>Host Package</th>
            <th>Guest Package</th>
            <th>Pins</th>
            <th>Host Pitch</th>
            <th>PDF</th>
          </tr>
        </thead>
        <tbody>
          {% for product in site.products %}
          <tr>
            <td>{{ product.part_number }}</td>
            <td>{{ product.host_package }}</td>
            <td>{{ product.guest_package }}</td>
            <td>{{ product.pins }}</td>
            <td>{{ product.host_pitch }}</td>
            <td><a href="{{ product.pdf_url | relative_url }}">PDF</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#productsTable').DataTable();
  });
</script>